
<div class="container-fluid">

    <div class="container header-area">
        <div class="row align-items-center justify-content-between flex-nowrap navbar-expand-lg">

            <div class="col-auto col-auto1">
                <div class="header-logg">
                    <a class="navbar-brand" href="#Navigate-to-Home"><img src="../../../../../assets/nav image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
               <div class="header-navigation position: relative d-flex"> 
                    <ul class="navbar-nav main_nav">
                        <li class="nav-item ms-0">
                          <a class="nav-link active" href="#Navigate-to-Home">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#Best_Products">Shop</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#Tranding">Pages</a>
                        </li>
                        <li class="nav-item me-0">
                          <a class="nav-link " href="#Tranding_blog">Blog</a>
                        </li>
                      </ul>
                </div>

            </div>
            <div class="col-auto col-auto2">
                <div class="header-action d-flex flex-wrap">
                    <form class="d-flex header-search-box d-none d-sm-block">
                        <input class="form-control me-2" type="search" id="search" placeholder="Search" aria-label="Search">
                        <button type="submit" class="btn-src">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        </button>
                    </form>
                    <div> 
                        <button type="submit" class="btn-src1 d-sm-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                        </button>
                       <button class="header-action-cart"><a href="#my-Cart-Items">02 Items</a> 
                           <span class="cart-icon"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg></span>
                       </button>
                      <button class="btn-src1 d-lg-none" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" style="outline: auto;" width="21" height="21" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                      </button>
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>


